
html{

}

p{
font-size: 16px;
font-family: Lucida Console;
text-align: left;
indent: 100px;
}

.mainTitle{
font-size: 46px;
font-family: Lucida Console;
text-align: left;
indent: 100px;
}



.subText{
font-size: 12px;
font-family: Verdena;
text-align: left;
indent: 1000px;
}

.mainPageLanding{
 background: url(http://i.4cdn.org/wg/1543320054226.jpg) no-repeat center fixed; 
 background-size: cover;
}

