html {
    background: url(http://i.imgur.com/zg8VYmI.jpg) no-repeat center fixed; 
    background-size: cover;

}

p {
  font-family: Arial;
  font-size: 14px;
  color: White;
  text-align: center;
  border: 25px ;
  padding: 25px solid black;
  margin: 25px solid black;
}

h1 {
  font-family: Arial;
  font-size: 14px;
  color: White;
  text-align: center;

}
