
 html {
 background: url(http://i.4cdn.org/wg/1541877623251.jpg) no-repeat center fixed; 
    background-size: cover;
}


body{


border: 25px white;
padding: 25px white;
margin: 25px  white;

}


h1 {
  font-family: Verdana;
  font-size: 38px;
  color: white;
  opacity: 1;
  text-align: center;

}
 
 h2 {
  font-family:Verdana;
  font-size: 10px;
  color: white;
  opacity: 1;
  text-align: center;

}
 
 h3 {
  font-family:Verdana;
  font-size: 24px;
  color: white;
  opacity: 1;
  text-align: center;

}


 h4 {
  font-family: Arial;
  font-size: 24px;
  color: white;
  opacity: 1;
  text-align: center;

}

p {
  font-family: Verdana;
  font-size: 18px;
  color: white;
  opacity: 1;
  text-indent: 50px;
  text-align: center;

  border: 25px ;
  padding: 25px ;
  margin: 25px ;
} 
  
.theJoysOfLinux {
   background:url(https://ih1.redbubble.net/image.112605481.9243/flat,750x1000,075,t.jpg) no-repeat center fixed; 
    margin: 30px;
    padding: 30px;
} 


  .cities {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
}
  
